numpy
matplotlib
ipykernel
seaborn
pandas
scikit-learn
gradio
joblib
xgboost
imblearn
openmeteo-requests
requests-cache 
retry-requests
plotly
sktime
python-dotenv==1.0.1
langchain-groq==0.1.6
langchain==0.2.10
langchain-community==0.2.10